* {
    margin: 0;
}

body {
    font-family: 'Circe Regular', sans-serif;
}
p {
    margin: 0;
    font-size: 2.2rem;
}
h1 {
    font-size: 5.4rem;
}
h2 {
    font-size: 4.0rem;
}
h3 {
    font-size: 3.5rem;
}
h4 {
    font-size: 1.8rem;
    color: black;
}
h1,
h2,
h3,
h4 {
    font-family: 'Circe Extra Bold', sans-serif;
}

.header {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #ff8a00, #e52e71);
  color: white;
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.menu__list-item {
  margin-right: 20px;
}

.menu__list-item:last-child {
  margin-right: 0;
}

.menu__list-item a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.menu__list-item a:hover {
  text-decoration: underline;
}

.about {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: linear-gradient(to right, #ff8a00, #e52e71);
}

.expert-inner__title {
  padding-left: 20px;
  padding-bottom: 81px;
}

.text-with-image {
  display: flex;
  flex-direction: row;
}

.text-with-image img {
  max-width: 380px;
  padding-right: 15px;
  height: auto;
}

.text-with-image p {    
  flex: 1;
  padding-left: 40px;
}

.to-contacts {
  display: flex;
  justify-content: center;
}

.to-contacts a {
  display: inline-block;
  background-color: #00aaff;
  color: #fff;
  padding: 20px 20px;
  text-decoration: none;
  border-radius: 20px;
  margin-top: 40px;
}

/*PRODUCTS*/
.products {
  position: relative;
  /* height: 60vh; */
  background-image: linear-gradient(to right, #00b7ff, #e52e71);
}

.services {
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.services {
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.services p {
  margin-bottom: 15px;
}

.services p:first-child {
  font-weight: bold;
}

.services p:last-child {
  margin-bottom: 0;
}

.services p:nth-child() {
  color: #333333;
}

.services p::before {
    content: "\2022 \2022 \2022";
    color: #e52e71;
    display: block;
    position: relative;
    top: -25px;
    text-align: center;
}

.works {
  position: absolute;
  top: calc(100% - 500px); /* изменено значение top */
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
}

.carousel-container {
  width: 97vw;
  height: calc(100% - (40px + 15px)); /* изменено значение height */
  margin-top: 15px; /* изменено значение margin-top */
  overflow: hidden;
}

.carousel-images {
  display: flex;
  animation: carousel-animation 60s infinite linear;
}

.carousel-images img {
  width: auto;
  height: 100%;
  margin-right: 2vw;
}

@keyframes carousel-animation {
      0% {
    transform: translateX(0);
      }

      25% {
    transform: translateX(-100%);
      }

      50% {
    transform: translateX(-66.66%);
      }

      75% {
    transform: translateX(-33.33%);
      }

      100% {
    transform: translateX(0);
      }
}

.consultation {
    display:flex; 
    flex-direction:column; 
    justify-content:center; 
    align-items:center; 
    text-align:center; 
    background-color:silver; 
    margin-top:-2rem; /* добавлено отрицательное значение margin-top */
}

.consultation h2 {
    margin-bottom:8rem;
}

.consultation h2, .consultation .p-heading {
    padding-top:50px; 
    text-align:center;
}

.consultation .input-wrapper {
    display:flex; 
    justify-content:space-between; 
    flex-wrap:wrap;
}

.consultation input {
    width:30%; 
    padding:1.5rem 4rem; 
    border:none; 
    border-radius:50px; 
    margin-bottom:3rem;
}

.consultation input::placeholder {
    color:black; 
    font-family:'Circe Bold', sans-serif;
}

.consultation .input-text {
    display:block; 
    width:100%;
}

.consultation .button-order {
    background-image:linear-gradient(66deg, #a12ab1 0%, #c818bc 100%); 
    box-shadow:0px 15px 30px 0px rgba(170, 38, 183, 0.39); 
    font-size:1.5rem; 
    padding:1.5rem 2rem; 
    color:#ffffff; 
    border:2px solid #c51abb; 
    background-color:transparent; 
    border-radius:30px;
}