* {
    margin: 0;
}

body {
    font-family: 'Circe Regular', sans-serif;
}
p {
    margin: 0;
    font-size: 2.2rem;
}
h1 {
    font-size: 5.4rem;
}
h2 {
    font-size: 4.0rem;
}
h3 {
    font-size: 3.5rem;
}
h4 {
    font-size: 1.8rem;
    color: black;
}
h1,
h2,
h3,
h4 {
    font-family: 'Circe Extra Bold', sans-serif;
}

.header {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #ff8a00, #e52e71);
  color: white;
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.menu__list-item {
  margin-right: 20px;
}

.menu__list-item:last-child {
  margin-right: 0;
}

.menu__list-item a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.menu__list-item a:hover {
  text-decoration: underline;
}

.about {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: linear-gradient(45deg, #d183a0, #44a4b0, #b62cce);
  background-size: 200% 200%;
  animation: gradientAnimation 800s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.expert-inner__title {
  padding-left: 20px;
  padding-bottom: 81px;
}

.text-with-image {
  display: flex;
  flex-direction: row;
}

.text-with-image img {
  max-width: 380px;
  padding-right: 15px;
  height: auto;
}

.text-with-image p {    
  flex: 1;
  padding-left: 40px;
}

.to-contacts {
  display: flex;
  justify-content: center; /* добавляем выравнивание по центру */
  /* margin-top: 10px; */
}

.to-contacts a {
  display: inline-block;
  background-color: #00aaff;
  color: #fff;
  padding: 20px 20px;
  text-decoration: none;
  border-radius: 20px; /* добавляем закругление */
  margin-top: 40px;
}

/*PRODUCTS*/
.products {
  position: sticky;
  top: 0;
  height: 60vh;
  background-image: linear-gradient(45deg, #d183a0, #44a4b0, #b62cce);
}

.works {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
}

.carousel-container {
  width: 97vw;
  height: calc(100% - 40px);
  margin-top: 40px;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  animation: carousel-animation 60s infinite linear;
}

.carousel-images img {
  width: auto;
  height: 100%;
  margin-right: 2vw;
}

@keyframes carousel-animation {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-66.66%);
  }

  75% {
    transform: translateX(-33.33%);
  }

   /* Добавляем дополнительные ключевые кадры для замыкания карусели */
  100% {
    transform: translateX(0);
  }
}